/* App.css */
.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f8;
}

.hamburger-menu {
  position: fixed; /* Para que quede fijo en la parte superior */
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 10; /* Para que esté por encima de la barra lateral */
  color: #333;
}

.sidebar {
  background-color: #f8f9fa;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -200px; /* Oculto por defecto */
  transition: left 0.3s ease;
  padding-top: 60px; /* Espacio para el botón de hamburguesa */
  z-index: 5;
}

.sidebar.open {
  left: 0; /* Se muestra cuando la clase 'open' está activa */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px 20px;
}

.sidebar li a {
  display: block;
  color: #333;
  text-decoration: none;
}

.sidebar li a:hover {
  background-color: #e9ecef;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 0; /* Inicialmente sin margen */
  transition: margin-left 0.3s ease;
}

.main-content {
  margin-left: 0; /* Por defecto, el contenido ocupa todo el ancho */
}

.app-container.sidebar-open .main-content {
  margin-left: 200px; /* Cuando la barra lateral está abierta, empuja el contenido */
}

/* Estilos para el botón de hamburguesa cuando el menú está abierto (opcional) */
.hamburger-menu.open {
  /* Puedes cambiar el estilo del botón cuando el menú está abierto */
}

