/* index.css */


body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #333; 
  line-height: 1.6; 
  background: url('./Resources/fondo.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
  
  
}


h1, h2, h3, h4, h5, h6 {
  color: #2c3e50; /* Color de encabezado más fuerte */
  font-weight: 700; /* Hace los encabezados más prominentes */
  margin-bottom: 1em; /* Espacio debajo de los encabezados */
  line-height: 1.2; /* Reduce un poco el espaciado para los encabezados */
}

/* Estilos para párrafos */
p {
  margin-bottom: 1.5em; /* Espacio entre párrafos */
}

/* Estilos para enlaces */
a {
  color: #007bff; /* Color azul distintivo para enlaces */
  text-decoration: none; /* Elimina el subrayado predeterminado */
  transition: color 0.3s ease; /* Transición suave para el cambio de color al pasar el ratón */
}

a:hover {
  color: #0056b3; /* Color más oscuro al pasar el ratón */
  text-decoration: underline; /* Añade subrayado al pasar el ratón para indicar interactividad */
}




